<div class="navbar bg-white drop-shadow-sm fixed z-10">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost text-xl text-primary">Members Only</a>
    </div>
  
    <div class="flex-none gap-2">
      <div class="form-control">
        <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
      </div>
  
      <% if (user) { %>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-rectangle avatar">
            <ul class="text-base-400 text-lg">
                <li><%= user.first_name %></li>
            </ul>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li>
            <a class="justify-between">
              <%= user.first_name %>
              <span class="badge">Member</span>
            </a>
          </li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
      <% } else { %>
      <a href="/login" class="btn btn-outline">Login</a>
      <% } %>
    </div>
  </div>
  